{% extends "base.html" %}
{% block title %} {{ post|truncatewords:30 }} {% endblock %}
{% block header %}  {% endblock %}
{% block content %}

    <div class="container">

                    {% include 'posts/includes/post_item.html' %}

    </div>

    <h3> Комментарии: </h3>

    {% for comment in post.comments.all %}
    <h5> Автор: {{comment.author.get_full_name }}, дата: {{comment.pub_date}} </h5>

    <p> {{comment.text|linebreaksbr}}</p>


    {% endfor %}

    <a href="{% url 'posts:new_comment' post.id %}">
        <button type="button" class="btn btn-secondary"> Комментировать </button>
    </a>

    {% include 'posts/includes/paginator.html' %}
    {% endblock %}