{% extends "base.html" %}
{% block title %} Новая запись {% endblock %}
{% block header %}  {% endblock %}
{% block content %}

<div class="container py-5">
    <h1>Все посты пользователя {{ author.get_full_name }} </h1>
    <h3>Всего постов: {{ count_posts }} </h3>
    {% for post in page_obj %}
    <h3>
        Дата публикации: {{ post.pub_date }}.

    </h3>
    <p> {{post.text|linebreaksbr}} </p>
    {% if not forloop.last %}
    <hr>
    {% endif %}

    <a href="<!-- -->">подробная информация </a>
    <a href="<!-- -->">все записи группы</a>

    {% endfor %}

    {% include 'posts/includes/paginator.html' %}

    {% endblock %}