{% extends "base.html" %}
{% block title %} {{ author.get_full_name }} {% endblock %}
{% block header %}  {% endblock %}
{% block content %}

<div class="row mx-auto my-auto">
    <div class="col-md-12 my-2">
<table class="table">
    <tr class="table h4 text-muted">
        <th>@{{ author.username }}</th>
        <th>{{ author.get_full_name }}</th>
        <th>Постов: {{ author.posts.count }}</th>
        <th>Подписчиков: {{ author.followers.count }} </th>
        <th>Подписан: {{ author.following.count }}</th>
        <th>
                {% if user.is_authenticated and author.id != request.user.id %}
                    {% if following %}
                    <a href="{% url 'posts:unfollow' author.username %}" role="button">
                        <button type="button" class="btn btn-light"> Отписаться </button>

                    </a>
                    {% else %}
                    <a href="{% url 'posts:follow' author.username %}">
                        <button type="button" class="btn btn-primary"> Подписаться </button>

                    </a>
                    {% endif %}

                {% endif %}
        </th>

        <th>
            {% if user.is_authenticated %}
                {% if author.id != request.user.id %}
                <a href="{% url 'chats:messages' author.id %}">
                    <button type="button" class="btn btn-info"> Личное&nbspсообщение</button>
                </a>
                {% endif %}

            {% endif %}
        </th>
    </tr>
</table>
    </div>
</div>
<div class="container py-5">

    <div class="container">


        {% for post in page_obj %}

        {% include 'posts/includes/post_item.html' with post=post %}
        {% endfor %}
    </div>

    {% include 'posts/includes/paginator.html' %}

    {% endblock %}