{% extends "base.html" %}
{% block title %} {{ author.get_full_name }} {% endblock %}
{% block header %}  {% endblock %}
{% block content %}

<a href="{% url 'chats:create_chat' author.id %}">
    <button type="button" class="btn btn-info"> Личное сообщение </button> </a>

<div class="container py-5">
    <h1>Все посты пользователя {{ author.get_full_name }} </h1>
    <h3>Всего постов: {{ author.posts.count }} </h3>
    {% for post in page_obj %}
    <h3>
        Дата публикации: {{ post.pub_date }}.

    </h3>
    <p> {{post.text|linebreaksbr}} </p>
    <a href="{% url 'posts:post_detail' post.id %}">
        <button type="button" class="btn btn-primary">Комментарии: {{post.comments.count}}</button>
    </a>
    {% if author.username == request.user.username %}
    <a href="{% url 'posts:edit_post' post.id %}">
        <button type="button" class="btn btn-info"> Редактировать</button>
    </a>
    {% endif %}
    {% if post.public.title %}
    <a href="{% url 'public' post.public.slug %}"> {{post.public.title}} </a>
    {% endif %}

    {% if not forloop.last %}
    <hr>
    {% endif %}


    {% endfor %}

    {% include 'posts/includes/paginator.html' %}

    {% endblock %}