{% extends "base.html" %}
{% block title %} Сообщения {% endblock %}
{% block header %} Сообщения {% endblock %}
{% block content %}

{% if not chat %}
<div class="panel panel-body">
    {{ "Невозможно начать беседу. Не найден пользователь или вы не имеете доступа к данной беседе." }}
</div>
{% else %}
{% load user_filters %}
{% if chat %}
<div id="messages" class="panel">
    <div id="innerMessages">
        {% for message in chat.messages.all %}
        <div class="list-group-item">
            <div class="reply-body">
                <ul class="list-inline">
                    <li class="drop-left-padding">
                        <strong class="list-group-item-heading"> <a href="{% url 'posts:profile' message.author.username %}">
                            {{ message.author.username }} </a> </strong>
                    </li>
                    <li class="pull-right text-muted"><small>{{ message.pub_date }}</small></li>
                </ul>
                <div>{{ message.text|safe }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}



                {% load user_filters %}

                <div class="row">
                    <div class="col-md-3">
                        <form method="post"> {% csrf_token %}
                            {% for field in form %}
                            {{ field|addclass:'form-control-sm' }}
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">
                                {% if request.resolver_match.view_name == 'posts:edit_post' %}
                                Сохранить
                                {% else %}
                                Отправить
                                {% endif %}
                            </button>
                        </form>
                    </div>
                </div>

{% endif %}


{% include 'posts/includes/paginator.html' %}

{% endblock %}
