<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/"><span style="color:red">Nat</span>work</a>
    <nav class="my-2 my-md-0 mr-md-3">
        {% if user.is_authenticated %}
        <a class="p-2 text-green text-sm-center" href="{% url 'posts:new_post' %}">Новая запись</a>
        <a class="p-2 text-green text-sm-center" href="{% url 'posts:profile' %}">Мои посты</a>
        <a class="p-2 text-dark" href="{% url 'users:password_change' %}">Изменить пароль</a>
        <a class="p-2 text-dark" href="{% url 'users:logout' %}">Выйти</a>
        {{ user.username }}


        {% else %}
        <a class="p-2 text-dark" href="{% url 'users:login' %}">Войти</a> |
        <a class="p-2 text-dark " href="{% url 'users:signup' %}">Регистрация</a>
        {% endif %}
    </nav>
</nav>